<section>
  <h1>What my colleagues say about me</h1>
  <div class="carousel-container">
    <div class="slideshow-container">

      @for(reference of references; track reference.author){
      <div class="carousel-slide">
        <div class="text-container">
          <p>{{reference.content}}</p>
          <div class="author">{{reference.author}}</div>
        </div>
      </div>
      }
    </div>

    <div class="dot-container">
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <span class="dot" (click)="currentSlide(3)"></span>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
  </div>
</section>