<section>
    <div class="footerLeft">
        <p class="logo">Ismail <br> Gündoğdu </p>
        <p>Web Developer</p>
        <p>Oberhauen Germany</p>
    </div>

    <div class="name">
        <p>© Ismail Gündoğdu</p>
    </div>

    <div class="footerLink">
        <a href="https://github.com/dashboard">GitHub</a>
        <a href="https://www.xing.com/profile/Ismail_Guendogdu03118">XING</a>
        <a href="mailto:info@ismail-guendogdu.de">Email</a>
        <a routerLink="impressum">Impressum</a>
    </div>
</section>