section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    padding: 1.25rem;
}


.footerLeft p {
    gap: 0.5rem;
    color: white;
}

.name p {
    font-size: 1.2rem;
    font-family: 'Fira code';
    color: rgba(61, 207, 182, 1);
}

.footerLink {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerLink > a {
    text-decoration: none;
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: 400;
    color: white;
    position: relative; 
    cursor: pointer;
}

.footerLink > a:hover {
    color: rgba(61, 207, 182, 1);
}

.footerLink > a:hover::before {
    content: '•';
    position: absolute;
    left: -1rem; 
    color: rgba(61, 207, 182, 1); 
    font-size: 1.5rem; 
    line-height: 1rem; 
}
