<section id="aboutMe">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="portfolioImage">
          <img src="./assets/img/portfolioImg.png" alt="" />
        </div>
      </div>
      <div class="col">
        <div class="aboutMe">
          <header>{{"aboutMe.whoAmI" | translate}}</header>
          <div class="aboutMeBox">
            <h1>{{"aboutMe.aboutMe" | translate}}</h1>
            <p>
              {{"aboutMe.entry" | translate}}
            </p>

            <p>
              <img src="./assets/img/locationOn.png" alt="" />
              {{"aboutMe.location" | translate}}
            </p>

            <p>
              <img src="./assets/img/cognition.png" alt="" />
              {{"aboutMe.cognition" | translate}}
            </p>

            <p>
              <img src="./assets/img/locationOn.png" alt="" />
              {{"aboutMe.locationOn" | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>