<section id="aboutMe">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="portfolioImage">
          <img src="./assets/img/portfolioImg.png" alt="" />
        </div>
      </div>
      <div class="col">
        <div class="aboutMe">
          <header>{{"aboutMe.whoAmI" | translate}}</header>
          <div class="aboutMeBox">
            <h1>{{"aboutMe.aboutMe" | translate}}</h1>
            <p>
              {{"aboutMe.entry" | translate}}
            </p>

            <p>
              <img src="./assets/img/locationOn.png" alt="" />
              Flexible in terms of working enviroments, I can work effectively both
              on-site in Obergausen or remotely.
            </p>

            <p>
              <img src="./assets/img/cognition.png" alt="" />
              I am open-minded and always looking for personal challenges to
              constantly improve my knowledge and skills.
            </p>

            <p>
              <img src="./assets/img/locationOn.png" alt="" />
              In my profession, programming isn´t just about writing code: it´s a
              creative form of problem-solving. I take pride in my ability to distill
              complex technical challenges into simple, user-friendly solutions. This
              way, I help you achieve your goals and bring your vision to life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>