<section>
  <header>
    <div>
      <div>
        <img src={{toggleUrl}} (click)="selectLanguage()" alt="langToggle">
        <a href="#aboutMe">{{'hero.aboutMe' | translate}}</a>
        <a href="#skills">{{'hero.skills' | translate}}</a>
        <a href="#projects">{{'hero.projects' | translate}}</a>
      </div>
      <div class="logo">
       <p class="initial">IG</p>
       <div class="initialName">
       <p>Ismail</p>
       <p>Gündoğdu</p>
      </div>
      </div>
    </div>
  </header>

  <div class="title">
    <h4>Frontend Developer</h4>
    <h1>Ismail Gündoğdu</h1>

    <div>
      <span><span class="btnText"><a href="#projects">{{'hero.check' | translate}}</a></span></span>
      <span><span class="btnText"><a href="#contactMe">{{'hero.contactMe' | translate}}</a></span></span>
    </div>
  </div>

  <div class="crossLoop">
    <ul>
      <li>{{'hero.remote' | translate}}</li>
      <li>{{'hero.frontEnd' | translate}}</li>
      <li>{{'hero.based' | translate}}</li>
      <li>{{'hero.work' | translate}}</li>
      <li>{{'hero.remote' | translate}}</li>
      <li>{{'hero.frontEnd' | translate}}</li>
      <li>{{'hero.based' | translate}}</li>
      <li>{{'hero.work' | translate}}</li>
    </ul>
  </div>

  <div class="rightLateral">
    <p><a href="mailto:ismailguendogdu@gmail.com">guendogdu.ismail&commat;gmail.com</a></p>
    <a href="https://github.com/ismailguendogdu" target="_blank">
      <img src="./assets/img/gitHub.png" alt="">
    </a>
    <a href="https://github.com/ismailguendogdu">
      <img src="./assets/img/linkedin.png" alt="">
    </a>
    <div class="line"></div>
  </div>

  <div class="leftLateral">
    <img src="./assets/img/fileDownHero.png" alt="">
    <div class="line"></div>
  </div>
</section>