<section>
  <header>
    <div>
      <div>
        <img src="./assets/img/languageChange.png" alt="" />
        <a href="">About me</a>
        <a href="">Skills</a>
        <a href="">Projects</a>
      </div>
      <div>
        Ismail <br />
        Gündoğdu
      </div>
    </div>
  </header>

  <div class="title">
    <h4>Frontend Developer</h4>
    <h1>Ismail Gündoğdu</h1>
    <div>
        <span><span class="btnText">Check my work</span></span>
        <span><span class="btnText">Contact me</span></span>
    </div>
  </div>

  <div class="crossLoop">
    <ul>
      <li>Available for remote work</li>
      <li>Frontend Developer</li>
      <li>Based in Oberhausen</li>
      <li>Open to work</li>
      <li>Available for remote work</li>
      <li>Frontend Developer</li>
      <li>Based in Oberhausen</li>
      <li>Open to work</li>
    </ul>
  </div>

  <div class="rightLateral">
    <p><a href="mailto:ismailguendogdu@gmail.com">guendogdu.ismail&commat;gmail.com</a></p>
      <img src="./assets/img/gitHub.png" alt="">
      <img src="./assets/img/linkedin.png" alt="">
      <div class="line"></div>
  </div>

  <div class="leftLateral">
    <img src="./assets/img/fileDownHero.png" alt="">
    <div class="line"></div>
  </div>
</section>
