<section>
  <header>
    <div>
      <div>
        <img src={{toggleUrl}} (click)="selectLanguage()" alt="langToggle">
        <a href="#aboutMe">{{'hero.aboutMe' | translate}}</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
      </div>
      <div>
        Ismail <br />
        Gündoğdu
      </div>
    </div>
  </header>

  <div class="title">
    <h4>Frontend Developer</h4>
    <h1>Ismail Gündoğdu</h1>

    <div>
      <span><span class="btnText"><a href="#projects">Check my work</a></span></span>
      <span><span class="btnText"><a href="#contactMe">Contact me</a></span></span>
    </div>
  </div>

  <div class="crossLoop">
    <ul>
      <li>Available for remote work</li>
      <li>Frontend Developer</li>
      <li>Based in Oberhausen</li>
      <li>Open to work</li>
      <li>Available for remote work</li>
      <li>Frontend Developer</li>
      <li>Based in Oberhausen</li>
      <li>Open to work</li>
    </ul>
  </div>

  <div class="rightLateral">
    <p><a href="mailto:ismailguendogdu@gmail.com">guendogdu.ismail&commat;gmail.com</a></p>
    <a href="https://github.com/ismailguendogdu" target="_blank">
      <img src="./assets/img/gitHub.png" alt="">
    </a>
    <a href="https://github.com/ismailguendogdu">
      <img src="./assets/img/linkedin.png" alt="">
    </a>
    <div class="line"></div>
  </div>

  <div class="leftLateral">
    <img src="./assets/img/fileDownHero.png" alt="">
    <div class="line"></div>
  </div>
</section>