<div class="projectContainer">
  <div class="project">
    <div class="popup">
      <img src="./assets/img/joinPopup.png" alt="Project 1 Image" class="popupImage">
    </div>
    <div class="projectContent">
      <h3>Join</h3>
      <p>Angular | TypeScript | HTML | CSS | Firebase</p>
    </div>
  </div>

  <div class="project">
    <div class="popup">
      <img src="./assets/img/elPopup.png" alt="Project 2 Image" class="popupImage">
    </div>
    <div class="projectContent">
      <h3>El Pollo Loco</h3>
      <p>HTML | CSS | JavaScript</p>
    </div>
  </div>
</div>
