.portfolio {
  color: #ffffff;
  padding: 1.25rem;
}

.portfolio h1 {
  font-size: 1.5rem;
}

.portfolio h2 {
  font-size: 4rem;
}

.portfolio h1,
.portfolio h2 {
  padding-bottom: 0.625rem;
  font-weight: 700;
}

.projectContainer h4 {
  font-family: 'FiraCode-Bold', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #3dcfb6;
}

.projectContainer h1 {
  font-family: 'FiraCode-Bold', sans-serif;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #3dcfb6;
  font-weight: 700;
  width: 100%;
}


.projectContainer {
  width: 70%;
  height: 20.5rem;
  margin-top: 7rem;
}

.project {
  border-top: 1px solid rgba(61, 207, 182, 1);
  border-bottom: 1px solid rgba(61, 207, 182, 1);
  position: relative;
}

.projectContent {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 2.5rem 0.5rem;
  transition: background-color 0.2s ease;
}

.projectContent:hover {
  background-color: rgb(40, 129, 114);
}

.separator {
  color: rgba(61, 207, 182, 1);
}

.projectContent h3 {
  font-family: 'Fira code';
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: white;
}

.projectContent p {
  font-family: 'Karla';
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  right: -46%;
  width: 40%;
  z-index: 10;
  }

.project:hover .popup {
  display: block;
  /* Zeige das Popup beim Hover */
}

.modal-show,
.modal-content,
.modal-dialog {
  min-width: 120vh !important;
}

.modal-body {
  padding: 0;
}

.modal-content {
  background-color: none !important;
}

.projectJoin {

}

@media (max-width: 768px) {
  .project:hover .popup {
    display: none;
  }

  .projectContainer {
    width: 100%;
  }
  
}


@media (max-width: 600px) {
  .projectContent {
    flex-direction: column;
    gap: 1rem;
  }
}