<section class="projectContainer">
    <div class="projectInfo">
      <h1 class="projectNumber">01</h1>
      <h2 class="projectTitle">Join</h2>
      <p class="projectDescriptionTitle">What is this project about?</p>
      <p class="projectDescription">
        Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.
      </p>
      <div class="technologies">
        <span class="tech"><img src="./assets/img/iconOCSS.png" alt="">CSS</span>
        <span class="tech"><img src="./assets/img/iconOHTML.png" alt="">HTML</span>
        <span class="tech"><img src="./assets/img/iconOFirebase.png" alt="">Firebase</span>
        <span class="tech"><img src="./assets/img/iconOAngular.png" alt="">Angular</span>
        <span class="tech"><img src="./assets/img/iconOTypeScript.png" alt="">TypeScript</span>
      </div>
      <div class="links">
        <a href="#" class="button">GitHub <img src="./assets/img/arrow_outward.png" alt=""></a>
        <a href="#" class="button">Live Test <img src="./assets/img/arrow_outward.png" alt=""></a>
      </div>
    </div>
    <div class="projectImage">
      <img src="./assets/img/joinPopup.png" alt="Kanban Project Management Tool Screenshot" />
    </div>
    <a href="#" class="nextProjectLink">Next project</a>
</section>
  