<section>
  <div class="skillSet">
    <header>Technologies</header>
    <div class="skillSetBox">
      <h1>Skill Set</h1>
      <p>
        My journy has involved working on diverse projects, employing a range of
        frontend technologies and concepts. I am open to embracing new
        technologies and methodologies to Continously enhance my skills and stay
        ahead in the ever-evolving landscape of web development.
      </p>
      <h2>You need another skill?</h2>
      <p>
        Feel free to contactme . I look forward to expanding on my previous
        knowledge.
      </p>
      <span><span class="btnText">Let´s talk</span></span>
    </div>
  </div>

  <div class="skillIcons">

  </div>
</section>
