<section id="skills">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="skillSet">
        <header>{{"skills.technologies" | translate}}</header>
        <div class="skillSetBox">
          <h1>{{"skills.skillSet" | translate}}</h1>
          <p>
            {{"skills.statement" | translate}}
          </p>
          <h2><span class="white">{{"skills.need" | translate}}</span>{{"skills.another" | translate}}</h2>
          <p>
            {{"skills.statementP" | translate}}
          </p>
          <span><span class="btnText">{{"skills.talk" | translate}}</span></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="skillIcons">

        @for (image of images; track image.name) {
        <div class="icon">
          <img src="{{image.url}}" alt="{{image.name}}">
          <span>{{image.name}}</span>
        </div>
        }
      </div>
    </div>
  </div>
</section>