<section>
    <div class="skillSet">
      <header>Technologies</header>
      <div class="skillSetBox">
        <h1>Skill Set</h1>
        <p>
          My journey has involved working on diverse projects, employing a range of
          frontend technologies and concepts. I am open to embracing new
          technologies and methodologies to continuously enhance my skills and stay
          ahead in the ever-evolving landscape of web development.
        </p>
        <h2><span class="white">You need</span> another skill?</h2>
        <p>
          Feel free to contact me. I look forward to expanding on my previous
          knowledge.
        </p>
        <span><span class="btnText">Let´s talk</span></span>
      </div>
    </div>
  
    <div class="skillIcons">
      <div class="icon"><img src="./assets/img/html.png" alt="HTML"><span>HTML</span></div>
      <div class="icon"><img src="./assets/img/css.png" alt="CSS"><span>CSS</span></div>
      <div class="icon"><img src="./assets/img/javascript.png" alt="JavaScript"><span>JavaScript</span></div>
      <div class="icon"><img src="./assets/img/materialdesign.png" alt="Material Design"><span>Material Design</span></div>
      <div class="icon"><img src="./assets/img/typescript.png" alt="TypeScript"><span>TypeScript</span></div>
      <div class="icon"><img src="./assets/img/angular.png" alt="Angular"><span>Angular</span></div>
      <div class="icon"><img src="./assets/img/firebase.png" alt="Firebase"><span>Firebase</span></div>
      <div class="icon"><img src="./assets/img/git.png" alt="GIT"><span>GIT</span></div>
      <div class="icon"><img src="./assets/img/restapi.png" alt="Rest API"><span>Rest API</span></div>
      <div class="icon"><img src="./assets/img/scrum.png" alt="Scrum"><span>Scrum</span></div>
      <div class="icon"><img src="./assets/img/growthmindset.png" alt="Growth mindset"><span>Growth mindset</span></div>
    </div>
  </section>
  