.projectJoin,
.projectElp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 6rem 1rem;
  background-image: linear-gradient(to right, rgba(28, 28, 28, 1),
      rgba(8, 70, 59, 1));
  color: #fff;
  border-radius: 1.875rem;
  border: 1px solid rgba(61, 207, 182, 1);
  font-family: 'Fira Code', monospace;
  position: relative;
}

.projectInfo {
  max-width: 30rem;
  height: auto;
  /* Adjust height to auto for responsive */
}

.projectNumber {
  font-size: 8rem;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  color: rgba(61, 207, 182, 1);
  margin: 0;
}

.projectTitle {
  font-size: 4rem;
  font-weight: 700;
  margin: 0.625rem 0;
  color: rgba(255, 255, 255, 1);
}

.projectDescriptionTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.25rem;
  color: rgba(61, 207, 182, 1);
}

.projectDescription {
  font-family: 'Karla', sans-serif;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 1);
}

.technologies {
  margin: 1.25rem 0;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tech {
  display: flex;
  align-items: center;
  gap: .5em;
  font-size: 1rem;
  color: #ffffff;

  >img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.links {
  margin: 1.25rem 0;
  display: flex;
  gap: 2rem;
}

.button {
  width: 8.125rem;
  height: 3rem;
  padding: 0;
  border: 1px solid white;
  border-radius: 6.25rem;
  cursor: pointer;
  background: none;
  color: #fff;
  justify-content: center;
  align-self: center;
  margin-top: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.button img {
  transition: transform 0.3s ease;
}

.button:hover {
  border-color: rgba(106, 215, 191, 1);
  color: rgba(106, 215, 191, 1);
}

.button:hover img {
  transform: translate(5px, -5px);
}

.projectImage {
  max-width: 80%;
  flex-grow: 1;
  /* Allows the image to take up remaining space */
}

.projectImage img {
  width: 100%;
  max-width: 32.5rem;
  border-radius: 1.825rem;
  object-fit: cover;
  /* Ensures the image covers the container without distortion */
}

.nextProjectLink {
  margin-top: 1.25rem;
  color: #03DAC6;
  text-decoration: none;
  font-size: 1.125rem;
  cursor: pointer;
  position: absolute;
  right: 100px;
  bottom: 56px;
  display: flex;
  align-items: center;
}

.nextProjectLink img {
  transition: transform 0.3s ease;
}

.nextProjectLink:hover {
  color: white;
}

.nextProjectLink:hover img {
  transform: translateX(5px);
}

/* Responsive Adjustments */
@media (max-width: 768px) {

  .projectJoin,
  .projectElp {
    flex-direction: column;
    padding: 2rem 1rem;
    /* Increase padding for better spacing */
  }

  .projectInfo {
    max-width: 100%;
    text-align: center;
  }

  .projectNumber {
    font-size: 6rem;
    /* Decrease size on smaller screens */
  }

  .projectTitle {
    font-size: 3rem;
  }

  .projectDescriptionTitle,
  .projectDescription {
    font-size: 1.125rem;
  }

  .technologies {
    justify-content: center;
    gap: 1rem;
  }

  .links {
    justify-content: center;
  }

  .projectImage img {
    width: "100%";
    /* Adjust image width for smaller screens */
  }

  .nextProjectLink {
    position: static;
    margin: 1rem auto 0;
  }
}