@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Fira Code';
  background-image: linear-gradient(rgb(10 32 28), rgb(28, 28, 28));
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/fira-code-v22-latin-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/karla-v31-latin-regular.woff2') format('woff2');
}




@media (max-width: 768px) {
  .row {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  body {
  margin: 0;
  padding: 0 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Fira Code';
  background-image: linear-gradient(rgb(10 32 28), rgb(28, 28, 28));
}
}